:root {
  --background-color--background-primary\<deleted\|relume-variable-background-color-1\>: var(--base-color-neutral--white\<deleted\|relume-variable-color-neutral-2\>);
  --text-color--text-primary\<deleted\|relume-variable-text-color-1\>: var(--base-color-neutral--black\<deleted\|relume-variable-color-neutral-1\>);
  --link-color--link-primary\<deleted\|relume-variable-link-color-1\>: var(--base-color-neutral--black\<deleted\|relume-variable-color-neutral-1\>);
  --base-color-neutral--black\<deleted\|relume-variable-color-neutral-1\>: black;
  --base-color-neutral--white\<deleted\|relume-variable-color-neutral-2\>: white;
  --background-color--background-error\<deleted\|relume-variable-background-color-8\>: var(--base-color-system--error-red-light\<deleted\|relume-variable-system-color-6\>);
  --text-color--text-error\<deleted\|relume-variable-text-color-5\>: var(--base-color-system--error-red\<deleted\|relume-variable-system-color-5\>);
  --base-color-brand--blue: #304de5;
  --base-color-brand--white: white;
  --base-color-brand--black: black;
  --base-color-brand--green: #d9f643;
  --base-color-brand--60-black: #0009;
  --base-color-system--error-red-light\<deleted\|relume-variable-system-color-6\>: #fef3f2;
  --base-color-system--error-red\<deleted\|relume-variable-system-color-5\>: #b42318;
}

body {
  background-color: var(--background-color--background-primary\<deleted\|relume-variable-background-color-1\>);
  color: var(--text-color--text-primary\<deleted\|relume-variable-text-color-1\>);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.2;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
}

h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.3;
}

h5 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.4;
}

h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.4;
}

p {
  margin-bottom: 0;
}

a {
  color: var(--link-color--link-primary\<deleted\|relume-variable-link-color-1\>);
  text-decoration: underline;
}

ul {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 1.25rem;
}

ol {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 1.5rem;
}

li {
  margin-top: .25rem;
  margin-bottom: .25rem;
  padding-left: .5rem;
}

img {
  max-width: 100%;
  display: inline-block;
}

label {
  margin-bottom: .25rem;
  font-weight: 500;
}

blockquote {
  border-left: .1875rem solid var(--text-color--text-primary\<deleted\|relume-variable-text-color-1\>);
  margin-bottom: 0;
  padding: .75rem 1.25rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

figure {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

figcaption {
  text-align: center;
  margin-top: .25rem;
}

.global-styles {
  display: block;
  position: fixed;
  inset: 0% auto auto 0%;
}

.utility_component {
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  display: flex;
}

.utility_form-block {
  text-align: center;
  flex-direction: column;
  max-width: 20rem;
  display: flex;
}

.utility_form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.utility_image {
  margin-bottom: .5rem;
  margin-left: auto;
  margin-right: auto;
}

.padding-xxsmall {
  padding: .5rem;
}

.text-weight-medium {
  font-weight: 500;
}

.button {
  border: 1px solid var(--base-color-neutral--black\<deleted\|relume-variable-color-neutral-1\>);
  background-color: var(--base-color-neutral--black\<deleted\|relume-variable-color-neutral-1\>);
  color: var(--base-color-neutral--white\<deleted\|relume-variable-color-neutral-2\>);
  text-align: center;
  padding: .75rem 1.5rem;
  text-decoration: none;
}

.form_input {
  border: 1px solid var(--base-color-neutral--black\<deleted\|relume-variable-color-neutral-1\>);
  background-color: var(--base-color-neutral--white\<deleted\|relume-variable-color-neutral-2\>);
  color: var(--text-color--text-primary\<deleted\|relume-variable-text-color-1\>);
  border-radius: 0;
  height: auto;
  min-height: 2.75rem;
  margin-bottom: 0;
  padding: .5rem .75rem;
  font-size: 1rem;
  line-height: 1.6;
}

.form_input:focus {
  border-color: #000;
}

.form_input::placeholder {
  color: #0009;
}

.form_message-error {
  background-color: var(--background-color--background-error\<deleted\|relume-variable-background-color-8\>);
  color: var(--text-color--text-error\<deleted\|relume-variable-text-color-5\>);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  display: flex;
}

.form_message-error-wrapper {
  margin-top: 1rem;
  padding: 0;
}

.empty-cart-label {
  font-weight: 500;
}

.button-2 {
  color: #fff;
  text-align: center;
  background-color: #000;
  border: 1px solid #000;
  padding: .75rem 1.5rem;
  text-decoration: none;
}

.button-2.is-icon {
  grid-column-gap: .75rem;
  grid-row-gap: .75rem;
  justify-content: center;
  align-items: center;
  display: flex;
}

.button-2.is-icon.primary-cta {
  border-color: var(--base-color-brand--blue);
  color: var(--base-color-brand--blue);
  padding-top: 0;
  padding-bottom: 0;
}

.button-2.is-icon.primary-cta.hide {
  display: none;
}

.display-flex-2 {
  display: flex;
}

.display-flex-2.gap-tiny {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  display: none;
}

.display-flex-2.space-between {
  justify-content: space-between;
}

.wrapper-hero {
  justify-content: center;
  align-items: flex-end;
  display: flex;
}

.main-image-hero {
  object-fit: contain;
  max-width: 309px;
  height: 100%;
}

.main-image-hero.wrapper {
  justify-content: flex-end;
  align-items: center;
  width: 60%;
  height: auto;
  position: relative;
}

.wrapper-image-hero {
  justify-content: center;
  align-items: center;
  width: 50svw;
  height: 100svh;
  display: flex;
  position: relative;
  overflow: hidden;
}

.primary-cta {
  border: 2px dashed var(--base-color-brand--blue);
  background-color: var(--base-color-brand--white);
  color: var(--base-color-brand--blue);
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 42px;
  padding-left: 12px;
  padding-right: 12px;
  text-decoration: none;
  display: flex;
}

.primary-cta.typo-legend {
  border: 2px dashed var(--base-color-brand--black);
}

.primary-cta.hug {
  width: auto;
}

.primary-cta.hug.typo-legend, .primary-cta.hug.typo-legend.primary-color {
  border-color: var(--base-color-brand--blue);
}

.body {
  background-color: var(--base-color-brand--white);
  color: var(--base-color-brand--black);
  font-family: Worksans, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 110%;
}

.prez-text-zine-section {
  padding-left: 0;
  padding-right: 0;
}

.wrapper-prez {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  flex-flow: column;
  padding-top: 70svh;
  padding-right: 16px;
  display: flex;
}

.wrapper-lame-prez {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-rows: auto;
  grid-template-columns: 100px 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.separator {
  background-color: #0003;
  width: 100%;
  height: 1px;
}

.wrapper-description-zine {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  flex-flow: column;
  padding-right: 16px;
  display: flex;
}

.italic {
  font-style: italic;
}

.wrapper-image-description-zine {
  width: 100%;
}

.wrapper-texte-description-zine {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  flex-flow: column;
  width: 100%;
  display: flex;
}

.image {
  width: 100%;
  height: 100%;
}

.wrapper-page {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-flow: row;
  justify-content: flex-end;
  align-items: flex-start;
  padding-top: 0;
  display: flex;
  position: relative;
}

.packs-section {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  flex-flow: column;
  margin-top: 100px;
  padding-top: 28px;
  padding-bottom: 128px;
  display: flex;
}

.wrapper-text-packs {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex-flow: column;
  display: flex;
}

.swiper.is-team {
  width: 100%;
  padding-left: 0;
  padding-right: 16px;
  overflow: hidden;
}

.swiper.is-zine {
  width: 100%;
  padding-right: 16px;
  overflow: hidden;
}

.swiper-wrapper.is-team {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  display: flex;
}

.swiper-wrapper.is-zine {
  display: flex;
}

.swiper-slide.is-team {
  flex: none;
  align-self: stretch;
  width: 20rem;
  height: 100%;
  position: relative;
}

.swiper-slide.is-team:nth-child(odd) {
  background-color: var(--base-color-brand--blue);
  color: var(--base-color-brand--green);
}

.swiper-slide.is-team:nth-child(2n) {
  background-color: var(--base-color-brand--green);
  color: var(--base-color-brand--blue);
}

.swiper-slide.is-zine {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex-flow: column;
  flex: none;
  justify-content: space-between;
  align-self: stretch;
  align-items: stretch;
  width: 20rem;
  height: 350px;
  padding: 16px;
  display: flex;
}

.team-imag_wrapper {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 238px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.team-image {
  object-fit: contain;
  width: 100%;
  height: 100%;
  position: relative;
  inset: 0%;
}

.team-info_wrapper {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.wrapper-pricing-pack {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  display: flex;
}

.price-wrapper, .wrapper-reduc-price {
  display: flex;
}

.wrapper-top-slider {
  justify-content: space-between;
  align-items: center;
  padding-right: 16px;
  display: flex;
}

.arrows-slide {
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  text-decoration: none;
  display: flex;
}

.wrapper-arrow-slider {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  display: flex;
}

.wrapper-push-pack {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  flex-flow: column;
  padding-top: 128px;
  padding-bottom: 128px;
  padding-right: 16px;
  display: flex;
}

.wrapper-text-push-pack {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-flow: column;
  display: flex;
}

.wrapper-text-push-pack._40px-gap {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  margin-bottom: 80px;
}

.wrapper-citation {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  flex-flow: column;
  padding: 116px 180px;
  display: flex;
}

.lame-citation {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-flow: column;
  display: flex;
}

.image-citation {
  width: 40px;
}

.image-citation.reverse {
  mix-blend-mode: difference;
}

.image-citation.lib-ration {
  width: 50px;
}

.image-citation._50 {
  width: 34px;
}

.wrapper-newsletter {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  flex-flow: column;
  margin-left: -16px;
  padding: 116px 125px 116px 24px;
  display: flex;
}

.wrapper-text-newsletter {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex-flow: column;
  display: flex;
}

.form {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 100%;
  height: 100%;
  display: flex;
}

.collection-item {
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  flex-flow: column;
  display: flex;
}

.product-wrapper {
  align-items: center;
  width: 100%;
}

.button_loading-spinner {
  width: 1.5rem;
  height: 1.5rem;
}

.add-to-cart_error-label {
  color: #fa6360;
  text-align: center;
  font-weight: 600;
}

.span-6 {
  font-size: 14px;
  font-weight: 500;
  line-height: 120%;
}

.variant-label {
  background-color: var(--base-color-brand--white);
  margin-bottom: 0;
  font-size: .75rem;
  font-weight: 700;
  line-height: 1.5;
  display: flex;
}

.variant-label.typo-little-legend.primary-color, .variant-label.typo-little-legend.transparent-bg {
  background-color: #0000;
}

.button_default-state {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  justify-content: center;
  align-items: center;
  line-height: 1;
  display: flex;
}

.add-to-cart_form-wrapper {
  flex-flow: column;
  margin-bottom: 0;
}

.variant_option-image {
  border-radius: 100rem;
  width: 2rem;
}

.add-to-cart_form {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
  width: 100%;
  display: flex;
}

.variant_option-button {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  background-color: #fff;
  border: 1px solid #aaa;
  justify-content: center;
  align-items: center;
  padding: .5rem .7rem;
  display: flex;
}

.variant_option-button.active {
  color: #fff;
  background-color: #000;
}

.add-to-card_error {
  border-radius: .3rem;
  font-weight: 600;
}

.add-to-cart_select-field {
  background-color: #fff;
  border: 1px solid #aaa;
  min-height: 3rem;
  padding: .5rem 1rem;
  font-weight: 500;
}

.add-to-cart_select-field.primary-cta.typo-little-legend.selector {
  border: 1px solid var(--base-color-brand--blue);
  justify-content: center;
  align-items: center;
  height: auto;
  min-height: 0;
  margin-bottom: 0;
  padding: 6px;
  font-weight: 400;
  display: flex;
}

.add-to-cart_wrapper {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.variant_option-label {
  font-weight: 600;
}

.button_loading-state {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  justify-content: center;
  align-items: center;
  display: flex;
}

.button_loading-state.is-hidden {
  font-family: Sligoil Micro, Arial, sans-serif;
  display: none;
}

.smootify-product {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  color: #fff;
  background-color: #ff4949;
  flex-flow: column;
  justify-content: space-between;
  align-items: stretch;
  height: 720px;
  min-height: 100%;
  padding: 16px;
  display: flex;
}

.limited {
  background-color: var(--base-color-brand--black);
  justify-content: flex-start;
  align-items: flex-start;
  padding: 8px;
  display: flex;
  position: absolute;
}

.limited.typo-legend.upercase {
  background-color: var(--base-color-brand--green);
  color: var(--base-color-brand--blue);
  text-transform: uppercase;
}

.text-block {
  color: var(--base-color-brand--white);
}

.text-block.blue {
  color: var(--base-color-brand--blue);
}

.out-of-stock-div {
  z-index: 1;
  mix-blend-mode: normal;
  background-color: #fff6;
  display: none;
  position: absolute;
  inset: 0%;
}

.typo-legend {
  text-transform: uppercase;
  color: currentColor;
  font-family: Sligoil Micro, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 110%;
}

.typo-legend.primary-color {
  color: var(--base-color-brand--blue);
}

.typo-legend._50 {
  opacity: .5;
}

.code-embed {
  color: #fff;
}

.wrapper-footer {
  grid-column-gap: 140px;
  grid-row-gap: 140px;
  background-color: var(--base-color-brand--blue);
  flex-flow: column;
  padding-top: 40px;
  display: flex;
}

.wrapper-link-footer {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex-flow: column;
  width: 40%;
  display: flex;
}

.top-wrapper-footer {
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.typo-little-legend {
  text-transform: uppercase;
  font-family: Sligoil Micro, Arial, sans-serif;
  font-size: 14px;
  line-height: 120%;
  text-decoration: none;
}

.typo-little-legend.secondary-color {
  color: var(--base-color-brand--green);
}

.typo-little-legend._50 {
  color: #00000080;
  -webkit-text-stroke-color: #0000008a;
}

.typo-little-legend._60 {
  opacity: .6;
}

.typo-little-legend.primary-color {
  color: var(--base-color-brand--blue);
}

.typo-little-legend.center {
  text-align: center;
}

.typo-corps-de-texte {
  margin-bottom: 0;
  font-family: Worksans, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 110%;
}

.typo-corps-de-texte.secondary-color {
  color: var(--base-color-brand--green);
  font-weight: 400;
}

.typo-corps-de-texte.indent-paragraphe {
  text-indent: 40px;
}

.typo-corps-de-texte.indent-paragraphe.primary-color {
  color: var(--base-color-brand--blue);
}

.typo-corps-de-texte._50-black {
  color: #00000080;
}

.typo-corps-de-texte.field {
  border: 0 solid #000;
  border-radius: 0;
  height: 42px;
}

.typo-corps-de-texte.field::placeholder {
  color: #304de599;
  -webkit-text-stroke-color: #304de5d6;
}

.typo-corps-de-texte.link-old-news {
  color: var(--base-color-brand--blue);
}

.typo-corps-de-texte.voir-plus {
  cursor: pointer;
  justify-content: flex-start;
  align-items: flex-end;
  display: none;
  position: absolute;
  inset: auto auto 0% 0%;
}

.typo-corps-de-texte.cart-counter {
  color: var(--base-color-brand--black);
  background-color: #fff0;
  border: 0 #000;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 60px;
  padding-left: 16%;
  padding-right: 0;
}

.typo-big-heading {
  text-transform: uppercase;
  width: 80%;
  margin-left: -24px;
  padding-left: 0;
  font-family: Syne Extra, Arial, sans-serif;
  font-size: 44px;
  font-weight: 800;
  line-height: 90%;
}

.typo-big-heading.primary-color {
  color: var(--base-color-brand--blue);
  margin-left: 0;
}

.typo-big-heading.center {
  text-align: center;
  width: auto;
  margin-left: 0;
}

.typo-big-heading.small {
  font-size: 3svw;
}

.typo-petit-corps-de-texte {
  font-family: Worksans, Arial, sans-serif;
  font-size: 14px;
}

.typo-petit-corps-de-texte.description-product-card {
  opacity: .6;
  line-height: 130%;
}

.typo-petit-corps-de-texte.description-product-card.voir-plus {
  line-height: 110%;
}

.typo-big-legend {
  text-transform: uppercase;
  overflow-wrap: normal;
  font-family: Sligoil Micro, Arial, sans-serif;
  font-size: 22px;
  line-height: 110%;
}

.typo-big-legend.break {
  white-space: normal;
}

.typo-big-legend.primary-color {
  color: var(--base-color-brand--blue);
}

.typo-corps-de-texte-gras {
  font-size: 16px;
  font-weight: 500;
  line-height: 110%;
}

.typo-corps-de-texte-gras._60 {
  opacity: .6;
}

.wrapper-middle-footer {
  width: 310px;
}

.logo-footer {
  justify-content: center;
  align-items: center;
  width: 110vw;
  position: absolute;
  inset: 0% auto -40%;
}

.wrapper-logo-footer {
  flex-flow: row;
  justify-content: center;
  align-self: center;
  align-items: flex-start;
  width: 100%;
  height: 11vw;
  display: flex;
  position: relative;
  overflow: hidden;
}

.typo-footer {
  text-transform: uppercase;
  width: 350px;
  font-family: Syne Extra, Arial, sans-serif;
  font-size: 30px;
  font-weight: 800;
  line-height: 30px;
}

.link-corp {
  color: var(--base-color-brand--green);
}

.wrapper-toppom-footer {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  flex-flow: column;
  padding-top: 0;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
}

.wrapper-right-column {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-flow: column;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: flex-end;
  width: 50svw;
  padding-left: 16px;
  overflow: hidden;
}

.wrapper-left-colum {
  width: 50svw;
  height: 100svh;
  position: sticky;
  inset: 0% auto auto 0%;
}

.wrapper-title-heroo {
  justify-content: space-between;
  align-items: flex-end;
  display: flex;
}

.wrapper-first-lame-hero {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-flow: column;
  display: flex;
}

.wrapper-mag-img {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  padding-right: 30%;
  display: flex;
}

.wrapper-image-mag {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex-flow: column;
  width: 100%;
  height: 100%;
  display: flex;
}

.wrapper-top-card-pack-slider {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex-flow: column;
  display: flex;
}

._128left {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  flex-flow: column;
  padding-left: 128px;
  display: flex;
}

.wrapper-text-num-card {
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  flex-flow: wrap;
  align-self: baseline;
  display: inline-flex;
}

._267left {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  flex-flow: column;
  padding-left: 267px;
  display: flex;
}

._267left.template-page {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.link-old-news {
  font-family: Worksans, Arial, sans-serif;
}

.left-arrow-slider {
  transform-style: preserve-3d;
  transform: rotateX(0)rotateY(-180deg)rotateZ(0);
}

.gradient-sommaire {
  z-index: 1;
  background-image: linear-gradient(#fff0, #fff 87%);
  justify-content: flex-start;
  align-items: flex-end;
  display: flex;
  position: absolute;
  inset: 0%;
}

.wrapper-sommaire-texte {
  position: relative;
  overflow: hidden;
}

.variant-selector {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex-flow: column;
  width: 100%;
  height: auto;
  display: flex;
}

.smootify-add-to-cart {
  flex-flow: column;
}

.stickers {
  width: 100px;
  position: absolute;
  inset: 5% -15% 0% auto;
}

.mini-cart-modal_cart-items {
  grid-column-gap: 0rem;
  grid-row-gap: 0rem;
  flex-direction: column;
  height: 40svh;
  padding-bottom: 2svh;
  display: flex;
  overflow: auto;
}

.mini-cart-modal_cart-footer {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  background-color: var(--base-color-brand--white);
  flex-flow: column;
  justify-content: flex-start;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  position: absolute;
  inset: auto 0% 0%;
}

.mini-cart-modal_cart-item {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 0;
  display: flex;
}

.mini-cart-modal_quantity-input {
  justify-content: space-between;
  align-items: center;
  width: 140px;
  height: 42px;
  display: flex;
}

.mini-cart-modal_form-success {
  color: var(--base-color-brand--black);
  background-color: #0000;
  height: 100%;
}

.mini-cart-modal_item-data {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  display: flex;
}

.mini-cart-modal_button {
  color: #fff;
  background-color: #000;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.mini-cart-modal_form {
  flex-flow: column;
  justify-content: flex-start;
  align-items: stretch;
  height: 100%;
  display: block;
}

.mini-cart-modal_dialog-container {
  border-radius: 0;
  flex-flow: column;
  width: 100%;
  height: 100%;
  display: flex;
}

.mini-cart-modal_gift-container {
  display: none;
}

.mini-cart-modal_form-error_label {
  color: #fa6360;
  text-align: center;
}

.mini-cart-modal_item-remove {
  background-color: #efefef00;
  flex: none;
  justify-content: center;
  align-self: flex-start;
  align-items: center;
  padding-left: 0;
  padding-right: 0;
  display: flex;
  position: static;
  inset: 4% 5% auto auto;
}

.mini-cart-modal_form-container {
  flex-flow: column;
  height: 100%;
  margin-top: 66px;
  margin-bottom: 0;
  padding: 16px;
  display: flex;
}

.total-label {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1;
}

.total-label.small {
  font-size: 1.25rem;
  font-weight: 400;
}

.total-label.small.price-cart, .total-label.typo-legend {
  font-size: 16px;
  line-height: 110%;
}

.mini-cart-modal_item-img {
  object-fit: cover;
  border-radius: 0;
  flex: 1;
  align-self: center;
  width: 130px;
  height: 130px;
  margin-right: 0;
}

.mini-cart-modal_item-image {
  flex: none;
  position: relative;
}

.mini-cart-modal_form-error {
  border-radius: .3rem;
  font-weight: 600;
}

.mini-cart-modal_dialog-title {
  justify-content: flex-end;
  align-items: flex-start;
  display: flex;
  position: fixed;
  inset: 0% 0% auto auto;
}

.mini-cart-modal_close-button {
  background-color: #0000;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 24px 16px;
  display: flex;
}

.mini-cart-modal_dialog {
  z-index: 120;
  background-color: var(--base-color-brand--white);
  color: var(--base-color-brand--black);
  justify-content: center;
  align-items: flex-end;
  width: 50svw;
  height: 60svh;
  display: flex;
  inset: 0% 0% auto auto;
}

.mini-cart-modal_close-icon {
  flex: none;
  width: 1.25rem;
  height: 1.25rem;
  padding: 2px;
}

.mini-cart-modal_close-icon:hover {
  cursor: pointer;
}

.mini-cart-modal_quantity-button {
  background-color: #efefef00;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 0;
  display: flex;
}

.mini-cart-modal_options-container {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-right: .5rem;
  display: inline-flex;
}

.mini-cart-modal_options-container.space-between {
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.mini-cart-modal_options-container.space-between.padding {
  width: 100%;
  margin-right: 0;
  padding-top: 16px;
  padding-bottom: 16px;
}

.variant-selector-2, .gradient-description {
  display: none;
}

.button-4 {
  background-color: #000;
  flex: 1;
  padding: 1rem 1.5rem;
}

.button-4.primary-cta.cart-cta {
  border-color: var(--base-color-brand--black);
  color: var(--base-color-brand--black);
  background-color: #0000;
}

.navbar {
  z-index: 5;
  mix-blend-mode: difference;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  display: flex;
  position: fixed;
  inset: 0% 0% auto;
}

.cart-item {
  padding-top: 16px;
  padding-bottom: 16px;
}

.path {
  width: 9px;
  height: 9px;
}

.wrapper-empty-cart {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  color: var(--base-color-brand--black);
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-bottom: 12svh;
  display: flex;
}

.image-empty-cart {
  width: 120px;
}

.quantity-input {
  position: relative;
}

.new-clignote {
  z-index: 2;
  background-color: var(--base-color-brand--green);
  border-radius: 777px;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  display: flex;
  position: absolute;
  inset: -30px auto auto -30px;
}

.dash-button {
  z-index: 1;
  background-color: #0000;
  width: 100%;
  height: 42px;
  padding-left: 12px;
  padding-right: 12px;
  font-family: Sligoil Micro, Arial, sans-serif;
  text-decoration: none;
}

.shop-cta, .newslette-cta {
  color: var(--base-color-brand--blue);
}

.wrapper-empty-cart-text {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.cta-empty {
  position: absolute;
  inset: auto 16px 16px;
}

.mini-cart-modal_cart-items-2 {
  grid-column-gap: 0rem;
  grid-row-gap: 0rem;
  flex-direction: column;
  max-height: 500px;
  display: flex;
  overflow: auto;
}

.mini-cart-modal_cart-footer-2 {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-flow: column;
  margin-top: 0;
  display: flex;
}

.mini-cart-modal_cart-item-2 {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  background-color: #fff;
  align-items: flex-start;
  margin-top: 0;
  margin-bottom: 1px;
  padding: .5rem;
  display: flex;
}

.mini-cart-modal_quantity-input-2 {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  background-color: #fefff5;
  justify-content: flex-start;
  align-items: center;
  padding: .5rem;
  display: flex;
}

.mini-cart-modal_form-success-2 {
  color: #fff;
  background-color: #000;
  border-radius: .5rem;
  margin-top: 1rem;
}

.mini-cart-modal_option-col {
  margin-left: -3px;
}

.mini-cart-modal_item-data-2 {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  display: flex;
}

.mini-cart-modal_button-2 {
  color: #fff;
  background-color: #000;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  padding: .5rem;
  display: flex;
  position: relative;
}

.mini-cart-modal_dialog-container-2 {
  background-color: #f5f5f3;
  border-radius: 0;
  flex-flow: column;
  width: 100vw;
  max-width: 40rem;
  margin: auto;
  padding: 0;
  display: flex;
}

.mini-cart-modal_item-remove-2 {
  color: #fff;
  background-color: #000;
  border-radius: 100%;
  flex: none;
  justify-content: center;
  align-self: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  padding-left: 0;
  padding-right: 0;
  display: flex;
  position: absolute;
  inset: 4% 5% auto auto;
}

.mini-cart-modal_quantity-field {
  background-color: #eee;
  border: 0 solid #000;
  flex: 0 auto;
  width: 4rem;
  height: auto;
  margin-bottom: 1px;
  padding: 1rem;
}

.mini-cart-modal_quantity-field::placeholder {
  color: #33060b;
}

.mini-cart-modal_form-container-2 {
  background-color: #f5f5f3;
  flex-flow: column;
  margin-bottom: 0;
  padding: 1rem;
  display: flex;
}

.mini-cart-modal_count {
  color: #000;
  text-align: center;
  background-color: #fff;
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  font-size: .5rem;
  font-weight: 400;
  line-height: 1;
  display: flex;
  position: absolute;
  inset: -9% -15% auto auto;
}

.mini-cart-modal_item-img-2 {
  object-fit: cover;
  border-radius: 0;
  flex: 1;
  align-self: center;
  width: 130px;
  height: 130px;
  margin-right: 3rem;
}

.mini-cart-modal_item-image-2 {
  position: relative;
}

.spacer1 {
  height: 1rem;
}

.mini-cart-modal_icon {
  width: 1.25rem;
  height: 1.25rem;
}

.mini-cart-modal_dialog-title-2 {
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  display: flex;
}

.mini-cart-modal_close-button-2 {
  background-color: #0000;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  padding-top: 6px;
  padding-bottom: 6px;
  display: flex;
}

.mini-cart-modal_option-value {
  font-weight: 400;
}

.mini-cart-modal_dialog-2 {
  display: block;
}

.mini-cart-modal_item-title {
  margin-top: 0;
  margin-bottom: 0;
}

.mini-cart-modal_option-name {
  font-weight: 300;
}

.mini-cart-modal_close-icon-2 {
  color: #fff;
  background-color: #000;
  border-radius: 20px;
  flex: none;
  width: 1.25rem;
  height: 1.25rem;
  padding: 2px;
}

.mini-cart-modal_close-icon-2:hover {
  cursor: pointer;
}

.mini-cart-modal_total {
  background-color: #fefff5;
  border-radius: 0;
  font-size: 1rem;
  font-weight: 400;
}

.mini-cart-modal_quantity-button-2 {
  color: #fff;
  background-color: #ebebeb;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  width: 1.2rem;
  height: 1.2rem;
  padding: 0;
  display: flex;
}

.icon {
  color: #000;
  width: 1rem;
  height: 1rem;
}

.icon:hover {
  cursor: pointer;
}

.icon.white {
  color: #fff;
  width: .85rem;
  height: .85rem;
}

.icon.white.big {
  width: 1.5rem;
  height: 1.5rem;
}

.mini-cart-modal_options-container-2 {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  justify-content: flex-start;
  align-items: center;
  margin-right: .5rem;
  display: inline-flex;
}

.mini-cart-modal_options-container-2.space-between {
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.mini-cart-modal_options-container-2.space-between.padding {
  width: 100%;
}

.button-5 {
  color: #fff;
  text-align: center;
  background-color: #000;
  border: 1px solid #000;
  padding: .75rem 1.5rem;
  text-decoration: none;
}

.button-5.is-icon {
  grid-column-gap: .75rem;
  grid-row-gap: .75rem;
  justify-content: center;
  align-items: center;
  display: flex;
}

.variant-label-2 {
  background-color: #eee;
  margin-bottom: .5rem;
  padding: .2rem .6rem;
  font-size: .75rem;
  font-weight: 700;
  line-height: 1.5;
  display: inline-block;
}

.add-to-cart_form-wrapper-2 {
  margin-bottom: 0;
}

.add-to-cart_quantity-input {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.add-to-cart_form-2 {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  flex-direction: column;
  justify-content: flex-start;
  display: flex;
}

.add-to-cart_quantity-button {
  background-color: #eee;
  justify-content: center;
  align-items: center;
  width: 1.2rem;
  height: 1.2rem;
  padding: 0;
  display: flex;
}

.product-slider_lightbox-icon {
  color: #000;
  width: 1rem;
  height: 1rem;
}

.product-slider_lightbox-icon:hover {
  cursor: pointer;
}

.button_icon {
  width: 1rem;
}

.add-to-cart_quantity-field {
  border: 1px solid #aaa;
  flex: 0 auto;
  width: 4rem;
  margin-bottom: 0;
}

.add-to-cart_quantity-field.add-to-cart {
  text-align: center;
  border: 1px solid #e6e6e6;
  border-radius: .3rem;
  width: 4rem;
  padding: .8rem 1rem;
  font-weight: 600;
}

.cart_count {
  color: #fff;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Sligoil Micro, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  display: flex;
  position: static;
}

.mini-cart_icon {
  height: 1.5rem;
}

.mini-cart_icon.big {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex-wrap: wrap;
}

.mini-cart_error-message {
  margin-top: .5rem;
  padding: .5rem;
}

.mini-cart_button {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  background-color: #3898ec00;
  justify-content: center;
  align-items: center;
  padding: .5rem 1rem;
  display: flex;
}

.mini-cart_button:hover {
  background-color: #f5f5f5;
}

.cart_item-wrapper {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  background-color: #fff;
  border: 1px #e6e6e6;
  border-radius: .5rem;
  align-items: flex-start;
  margin-bottom: 1rem;
  padding: 1rem;
  display: flex;
}

.mini-cart_items {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-direction: column;
  max-height: 500px;
  display: flex;
  overflow: auto;
}

.button-6 {
  color: #fff;
  text-align: center;
  background-color: #000;
  border: 1px solid #000;
  padding: .75rem 1.5rem;
  text-decoration: none;
}

.button-6.is-secondary {
  color: #000;
  background-color: #0000;
}

.button-6.is-remove {
  background-color: #ec4a38;
  border-style: none;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  padding: 0;
  display: inline-flex;
  position: absolute;
  top: 5%;
  left: 5%;
}

.mini-cart_quantity-wrapper {
  grid-column-gap: .25rem;
  grid-row-gap: .25rem;
  align-items: center;
  font-size: .875rem;
  font-weight: 500;
  display: flex;
}

.cart_image-wrapper {
  position: relative;
}

.mini-cart_dropdown-list.w--open {
  background-color: #fff;
  border: 1px solid #000;
  flex-direction: column;
  justify-content: space-between;
  width: 35rem;
  padding: 1.5rem;
  display: flex;
  position: absolute;
  top: 5rem;
  left: 0;
  right: 0;
}

.cart_item-image {
  object-fit: cover;
  flex: 1;
  align-self: center;
  width: 100px;
  height: 100px;
  margin-right: 3rem;
}

.mini-cart_button-wrapper {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  flex-flow: column;
  display: flex;
}

.mini-cart_form-dropdown {
  margin-bottom: 0;
}

.mini-cart_dropdown {
  justify-content: center;
  align-items: center;
  height: 100%;
  display: inline-flex;
}

.mini-cart_dropdown.w--open {
  background-color: #fff;
  border: 1px solid #000;
  flex-direction: column;
  justify-content: space-between;
  width: 35rem;
  padding: 1.5rem;
  display: flex;
  position: absolute;
  top: 5rem;
  right: 0;
}

.mini-cart_footer {
  margin-top: 0;
}

.display-inlineflex.gap-tiny {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
}

.svg-icon-qt {
  color: #000;
  width: 1rem;
  height: 1rem;
}

.svg-icon-qt:hover {
  cursor: pointer;
}

.mini-cart_item-data {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  display: flex;
}

.mini-cart_item-total {
  border: 1px solid #000;
  margin-left: .5rem;
  margin-right: 1rem;
  padding: .25rem;
  font-size: 1rem;
}

.mini-cart_success {
  background-color: #0000;
  padding: 1rem;
}

.mini-cart_error-label {
  color: #fa6360;
  text-align: center;
  font-weight: 600;
}

.spacer-6 {
  height: 1rem;
}

.button-7 {
  color: #fff;
  text-align: center;
  background-color: #000;
  border: 1px solid #000;
  padding: .75rem 1.5rem;
  text-decoration: none;
}

.button-7.is-secondary {
  color: #000;
  background-color: #0000;
}

.button-7.is-remove {
  background-color: #ec4a38;
  border-style: none;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  padding: 0;
  display: inline-flex;
  position: absolute;
  top: 5%;
  left: 5%;
}

.team-imag_wrapper-ancien {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 220px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.image-bg-hero {
  z-index: -1;
  width: 120%;
  min-width: 120%;
  max-width: 120%;
  height: 120%;
  min-height: 120%;
  position: absolute;
  inset: auto;
  overflow: visible;
}

.code-embed-2 {
  z-index: -1;
  position: absolute;
  inset: 0%;
}

.wrapper-404 {
  justify-content: center;
  align-items: center;
  width: 100svw;
  height: 100svh;
  display: flex;
  position: relative;
}

.wrapper-content-text-404 {
  grid-column-gap: 26px;
  grid-row-gap: 26px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.wrapper-text-404 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 200px;
  display: flex;
}

.cta-secondary.code {
  display: none;
}

.cta-404-wrapper {
  flex-flow: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  display: flex;
}

.absolute-404 {
  z-index: 1;
  position: absolute;
}

.absolute-404.plane {
  inset: auto 15% 10% auto;
}

.absolute-404.trompbone {
  z-index: 1;
  top: 25%;
  left: 26%;
}

.absolute-404._03 {
  top: 36%;
  left: 12%;
}

.absolute-404._04 {
  bottom: 21%;
  left: 2%;
}

.absolute-404._05 {
  bottom: 20%;
  left: 30%;
}

.absolute-404.earth {
  bottom: 39%;
  left: 25%;
}

.absolute-404.oiseau {
  right: 7%;
}

.absolute-404.fire {
  top: 20%;
  right: 20%;
}

.absolute-404.carte {
  bottom: 5%;
  right: 50%;
}

.absolute-404.pirate {
  top: 10%;
  left: 15%;
}

.absolute-404.b-cane {
  bottom: 5%;
  left: 14%;
}

.absolute-404.dophin {
  top: 6%;
  left: 30%;
}

.absolute-404.arbre {
  top: 10%;
  right: 5%;
}

.absolute-404.stare {
  top: 2%;
  right: 35%;
}

.absolute-404.lunette {
  bottom: 10%;
  right: 6%;
}

.absolute-404.rose {
  top: 25%;
  right: 37%;
}

.absolute-404.termo {
  bottom: 30%;
  right: 27%;
}

.wrapper-push-template-texte {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  flex-flow: column;
  display: flex;
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 3.25rem;
  }

  h2 {
    font-size: 2.75rem;
  }

  h3 {
    font-size: 2.25rem;
  }

  h4 {
    font-size: 1.75rem;
  }

  .mini-cart-modal_dialog-container, .mini-cart-modal_dialog-container-2 {
    position: relative;
  }

  .mini-cart_button {
    height: 100%;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2.25rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.5rem;
    line-height: 1.4;
  }

  h5 {
    font-size: 1.25rem;
  }

  h6 {
    font-size: 1.125rem;
  }

  .mini-cart-modal_cart-item {
    flex-flow: row;
  }

  .mini-cart-modal_dialog-container {
    width: 90vw;
    max-width: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .mini-cart-modal_item-img {
    width: 100px;
    height: 100px;
    margin-right: 0;
  }

  .mini-cart-modal_cart-item-2 {
    flex-flow: row;
  }

  .mini-cart-modal_dialog-container-2 {
    width: 90vw;
    max-width: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .mini-cart-modal_item-img-2 {
    width: 100px;
    height: 100px;
    margin-right: 0;
  }

  .mini-cart-modal_item-title {
    font-size: 1.5rem;
  }

  .mini-cart-modal_total {
    font-size: 1rem;
  }

  .cart_item-wrapper {
    flex-direction: column;
  }

  .mini-cart_dropdown-list.w--open, .mini-cart_dropdown.w--open {
    width: 25rem;
    padding: 1rem;
    right: -2rem;
  }

  .mini-cart_item-total {
    font-size: 1rem;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 2.5rem;
  }

  .wrapper-hero {
    height: 90svh;
  }

  .main-image-hero {
    width: 100%;
  }

  .main-image-hero.wrapper {
    width: 60%;
  }

  .wrapper-image-hero {
    width: 100svw;
  }

  .prez-text-zine-section {
    width: 100%;
  }

  .wrapper-prez {
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    padding-top: 0;
  }

  .wrapper-lame-prez {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    grid-template-columns: 96px 1fr;
  }

  .wrapper-description-zine {
    padding-right: 16px;
  }

  .wrapper-texte-description-zine {
    grid-column-gap: 32px;
    grid-row-gap: 32px;
  }

  .image._128left {
    padding-left: 68px;
  }

  .wrapper-page {
    flex-flow: column;
    width: 100vw;
  }

  .packs-section {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .wrapper-push-pack {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .wrapper-text-push-pack._40px-gap {
    margin-bottom: 0;
    padding-top: 54px;
  }

  .wrapper-citation {
    padding: 48px 16px 48px 68px;
  }

  .wrapper-newsletter {
    margin-right: 0;
    padding: 40px 16px;
  }

  .form {
    border: 0 #000;
  }

  .add-to-cart_form {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
  }

  .add-to-cart_select-field.primary-cta.typo-little-legend.selector {
    border-radius: 0;
    height: 42px;
    min-height: auto;
    margin-bottom: 0;
  }

  .add-to-cart_wrapper {
    flex-wrap: wrap;
  }

  .smootify-product {
    height: auto;
  }

  .typo-legend {
    font-size: 14px;
  }

  .wrapper-footer {
    grid-column-gap: 60px;
    grid-row-gap: 60px;
  }

  .wrapper-link-footer {
    width: 100%;
  }

  .top-wrapper-footer {
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    flex-flow: column;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }

  .typo-corps-de-texte.indent-paragraphe._128left {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding-left: 68px;
  }

  .typo-corps-de-texte.field {
    color: #304de599;
    border: 0 solid #000;
    border-radius: 0;
  }

  .typo-corps-de-texte.field::placeholder {
    color: #0029ff99;
  }

  .typo-big-heading {
    width: 100%;
    font-size: 35px;
  }

  .typo-big-heading.primary-color {
    overflow-wrap: break-word;
  }

  .typo-big-heading.primary-color.newsletter-title {
    font-size: 7.3vw;
  }

  .typo-big-heading.small {
    font-size: 6svw;
  }

  .typo-petit-corps-de-texte.description-product-card {
    line-height: 110%;
  }

  .typo-petit-corps-de-texte.description-product-card.voir-plus {
    height: 100px;
    overflow: hidden;
  }

  .typo-big-legend {
    font-size: 20px;
  }

  .typo-big-legend.primary-color.new {
    font-size: 14px;
  }

  .wrapper-middle-footer {
    width: 50%;
  }

  .logo-footer {
    justify-content: space-between;
    align-items: center;
    width: 110vw;
  }

  .wrapper-logo-footer {
    width: 100svw;
    height: 9svw;
  }

  .typo-footer {
    width: 100%;
  }

  .wrapper-right-column {
    width: 100%;
    margin-top: -92px;
    padding-left: 16px;
    padding-right: 0;
  }

  .wrapper-left-colum {
    width: 100vw;
    height: 90svh;
    position: static;
  }

  .wrapper-first-lame-hero {
    margin-bottom: 24px;
  }

  .wrapper-mag-img {
    padding-right: 0%;
  }

  ._267left {
    padding-left: 68px;
  }

  .variant-selector {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
  }

  .stickers {
    width: 80px;
    right: -20%;
  }

  .mini-cart-modal_cart-items {
    height: 50svh;
  }

  .mini-cart-modal_cart-item {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    flex-flow: row;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .mini-cart-modal_item-data {
    flex: 0 auto;
  }

  .mini-cart-modal_dialog-container {
    width: 100vw;
    margin-left: 0;
    margin-right: 0;
  }

  .mini-cart-modal_item-remove {
    flex: none;
  }

  .mini-cart-modal_form-container {
    padding: 16px;
  }

  .total-label {
    font-size: 1.3rem;
  }

  .mini-cart-modal_item-img {
    width: 80px;
    height: 80px;
    margin-right: 0;
  }

  .mini-cart-modal_item-image {
    flex: none;
    width: 80px;
    height: 80px;
  }

  .mini-cart-modal_dialog {
    width: 100svw;
    height: 80svh;
    position: fixed;
    inset: auto 0% 0%;
  }

  .mini-cart-modal_options-container {
    grid-column-gap: .3rem;
    grid-row-gap: .3rem;
    margin-right: 0;
    font-size: .75rem;
  }

  .mini-cart-modal_options-container.space-between {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .mini-cart-modal_options-container.space-between.padding {
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
  }

  .div-block-4 {
    display: none;
  }

  .wrapper-description-pack {
    position: relative;
  }

  .gradient-description {
    background-image: linear-gradient(#304de500 10%, #304de5 80%);
    display: flex;
    position: absolute;
    inset: 0%;
  }

  .navbar {
    padding: 16px;
  }

  .wrapper-empty-cart {
    padding-bottom: 14vh;
  }

  .quantity-input {
    margin-top: 8px;
  }

  .quantity-input-2 {
    display: none;
  }

  .new-clignote {
    width: 40px;
    height: 40px;
    top: -20px;
    left: -20px;
  }

  .mini-cart-modal_cart-item-2 {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    flex-flow: row;
    padding: .5rem;
  }

  .mini-cart-modal_dialog-container-2 {
    width: 100vw;
    margin-left: 0;
    margin-right: 0;
  }

  .mini-cart-modal_form-container-2 {
    padding: 5%;
  }

  .mini-cart-modal_item-img-2 {
    width: 100px;
    height: 100px;
    margin-right: 0;
  }

  .mini-cart-modal_option-value {
    line-height: 1.2;
  }

  .mini-cart-modal_total {
    margin-left: 0;
    margin-right: .3rem;
    font-size: .85rem;
  }

  .mini-cart-modal_quantity-button-2 {
    width: 1rem;
    height: 1rem;
  }

  .mini-cart-modal_options-container-2 {
    font-size: .75rem;
  }

  .mini-cart-modal_options-container-2.space-between {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-end;
    padding-left: 0;
    padding-right: 0;
  }

  .mini-cart-modal_options-container-2.space-between.padding {
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
  }

  .add-to-cart_quantity-button {
    width: 1rem;
    height: 1rem;
  }

  .add-to-cart_quantity-field.add-to-cart {
    width: 4rem;
  }

  .cart_count {
    font-size: 14px;
  }

  .cart_item-wrapper {
    flex-direction: column;
    padding: 1rem;
  }

  .mini-cart_dropdown-list.w--open {
    width: 95vw;
    min-width: 18rem;
    padding: 1rem;
    left: 2.5vw;
    right: 2.5vw;
  }

  .cart_item-image {
    margin-right: 2rem;
  }

  .mini-cart_dropdown {
    position: static;
  }

  .mini-cart_dropdown.w--open {
    width: 95vw;
    min-width: 18rem;
    padding: 1rem;
    left: auto;
    right: -3rem;
  }

  .mini-cart_item-total {
    margin-left: .3rem;
    margin-right: .3rem;
    padding: 7px;
    font-size: .85rem;
  }

  .image-bg-hero {
    object-fit: cover;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: 120svh;
    min-height: 100%;
    inset: 0%;
  }

  .absolute-404.plane {
    bottom: 17%;
    right: -9%;
  }

  .absolute-404.trompbone {
    top: 8%;
    left: -17%;
  }

  .absolute-404._03 {
    top: 68%;
    left: -12%;
  }

  .absolute-404._04 {
    left: -29%;
  }

  .absolute-404._05 {
    bottom: 14%;
    left: 20%;
  }

  .absolute-404.earth {
    bottom: 60%;
    left: -6%;
  }

  .absolute-404.oiseau {
    top: 51%;
    right: -22%;
  }

  .absolute-404.fire {
    top: 17%;
    right: 1%;
  }

  .absolute-404.carte {
    right: 19%;
  }

  .absolute-404.pirate {
    top: 15%;
    left: 3%;
  }

  .absolute-404.b-cane {
    bottom: -2%;
    left: -3%;
  }

  .absolute-404.dophin {
    top: 2%;
    left: 8%;
  }

  .absolute-404.arbre {
    top: 15%;
    right: -39%;
  }

  .absolute-404.stare {
    top: 22%;
    right: 27%;
  }

  .absolute-404.lunette {
    bottom: -1%;
    right: -21%;
  }

  .absolute-404.rose {
    top: 10%;
    right: 15%;
  }

  .absolute-404.termo {
    bottom: 17%;
    right: -9%;
  }

  .wrapper-push-template-texte {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  #w-node-_2b4626e9-b433-53b9-8b63-7704b69f3ec2-9682a564 {
    grid-area: span 1 / span 2 / span 1 / span 2;
  }

  #w-node-_7b34b233-f711-cd98-4abd-0b1260659dd4-60659dd0 {
    grid-area: 2 / 1 / 3 / 2;
  }
}


@font-face {
  font-family: 'Sligoil Micro';
  src: url('../fonts/Sligoil-Micro.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Worksans';
  src: url('../fonts/WorkSans-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Syne Extra';
  src: url('../fonts/Syne-Extra.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Worksans';
  src: url('../fonts/WorkSans-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}