/* Appliquer la police sur tout le site ou sur un élément spécifique */
body {
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
marquee-circle {
  height: 100vh;
  width: 50vw;
  display: block;
  position: absolute;
  top: 0;
  will-change: transform;
}
.container {
  width: 50vw;
  height: 100vh;
  position: relative;
  border: 1px solid black;
  /* display: none; */
}
@media screen and (max-width: 768px) {
  marquee-circle {
    width: 100vw;
    height: 100vh;
  }
}
/* .webgl1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 3;
} */
/* img {
  width: 30vw;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  pointer-events: none;
  opacity: 0;
} */

.webgl2 {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
